.DS_Store
.Rhistory
*.RData
*.pdf
data
.Rproj.user
siamcat_paper.Rproj
parameter_space/results
parameter_space/submission_temp
parameter_space/temp
parameter_space/files
parameter_space/job_info
parameter_space/data_info
ibd_meta_analysis/predictions
control_augmentation/weights
control_augmentation/files
control_augmentation/submission_temp
control_augmentation/models
ml_pitfalls/predictions*
